
process {
  withName: 'GATK4_MARKDUPLICATES' {
    ext.prefix = { "${meta.id}.md" } 
  }
}

process {
  withName: 'BWAMEM2_MEM' {
        scratch = true
        ext.prefix = { "${meta.id}.${meta.lane}" }
        ext.args = { "-R \'@RG\\tID:${meta.id}.${meta.lane}\\tPU:${meta.lane}\\tSM:${meta.id}\\tDS:${fasta}\'" } 
  }
}

process {
  withName: 'BWAMEM2_MEM' {
        scratch = true
        ext.prefix = { "${meta.id}.merged" }
  }
}
