

process {
    withName: 'FASTP' {
        publishDir = [
            [
                mode: "copy",
                pattern: "*.json",
                path: { "${params.outdir}/preprocessing/fastp/${meta.id}/" },
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ],
            [
                mode: "copy",
                pattern: "*.html",
                path: { "${params.outdir}/preprocessing/fastp/${meta.id}/" },
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ],
            [
                pattern: "*.fastq.gz",
                path: { "${params.outdir}/preprocessing/fastp/${meta.id}/" },
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        ]
    }
    withName: 'FASTQC' {
        publishDir = [
            mode: "copy",
            path: { "${params.outdir}/preprocessing/fastqc_raw/${meta.id}/" },
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'FASTQC2' {
        publishDir = [
            mode: "copy",
            path: { "${params.outdir}/preprocessing/fastqc_trimmed/${meta.id}/" },
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}


process {
  withName: 'PICARD_MARKDUPLICATES' {
    scratch = true
    ext.prefix = { "${meta.id}.md" }
    time = '10h'
    publishDir = [
            mode: "copy",
            path: { "${params.outdir}/mapping/${meta.maptype}/picard/${meta.id}/"},
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
  }
  withName: 'SAMTOOLS_INDEX' {
    scratch = true
    time = '10h'
    publishDir = [
            mode: "copy",
            path: { "${params.outdir}/mapping/${meta.maptype}/picard/${meta.id}/"},
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
  }
  withName: 'MOSDEPTH' {
    scratch = true
    time = '10h'
    publishDir = [
            mode: "copy",
            path: { "${params.outdir}/mapping/${meta.maptype}/mosdepth/${meta.id}/"},
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
  }
}

process {
  withName: 'BWAMEM2_MEM' {
        scratch = true
        ext.prefix = { "${meta.id}.${meta.lane}" }
        ext.args = { "-R \'@RG\\tID:${meta.id}.${meta.lane}\\tPU:${meta.lane}\\tSM:${meta.id}\\tDS:${fasta}\'" }
  }
  withName: 'MINIBWA_MAP' {
        scratch = true
        ext.prefix = { "${meta.id}.${meta.lane}" }
        ext.args = { "-R \'@RG\\tID:${meta.id}.${meta.lane}\\tPU:${meta.lane}\\tSM:${meta.id}\\tDS:${fasta}\'" }
  }
  withName: 'SAMTOOLS_MERGE_BWA2' {
        scratch = true
        ext.prefix = { "${meta.id}.merged" }
  }
  withName: 'SAMTOOLS_MERGE_MINIBWA' {
        scratch = true
        ext.prefix = { "${meta.id}.merged" }
  }
}
