
// required for nf-core modules
manifest.name = 'dmp-name'
manifest.description = """
    A Nextflow pipeline for ....
"""
manifest.author = 'DMP'
manifest.version = '0.1.0'

// needed for mofule binaries
nextflow.enable.moduleBinaries = true

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

profiles {
    slurm {
        includeConfig 'conf/slurm.config'
    }
    hpc {
        includeConfig 'conf/hpc.config' 
    }
    singularity {
        includeConfig 'conf/singularity.config'
    }
    tower {
        includeConfig 'conf/tower.config'
    }
    conda {
        /// the env files should be in the modules
        conda.enabled = true
    }
}

// publish dirs for modules
/*
includeConfig 'conf/modules/preprocess.config'
includeConfig 'conf/modules/ichorcna.config'
*/