process {
    withLabel:process_single {
        cpus   = 1
        memory = 10.GB
        time   = 4.h
    }
    withLabel:process_single_highmem {
        cpus   = 1
        memory = 15.GB
        time   = 4.h
    }
    withLabel:process_low {
        cpus   = 1
        memory = 1.GB
        time   = 4.h
    }
    withLabel:process_medium {
        cpus   = 6
        memory = 40.GB
        time   = 8.h
    }
    withLabel:process_high {
        cpus   = 12
        memory = 75.GB
        time   = 16.h
    }
        withLabel:process_long {
        time   = 20.h
    }
}
