
singularity {
    enabled = true
    autoMounts = true
}

includeConfig 'custom_singularity.config'

process {
    withLabel: mainimg {
        container = 'oras://community.wave.seqera.io/library/bowtie2_fastp_samtools_seqtk_pruned:3965e438c0c70336'
    }
    withLabel: pycashier {
        container = 'oras://community.wave.seqera.io/library/cutadapt_fastp_pysam_starcode_pycashier:0e04cabdc31f5022'
    }
    withLabel: pythonbase {
        container = 'oras://community.wave.seqera.io/library/pip_click_rich_tomli:c5b7b441f086aa52'
    }
}

